header,
.header {
	// @include position(absolute, 0 0 null 0);
	// @include position(fixed, 0 0 null 0);
	// z-index: 1000;
	@include flex-space-between;
	@include normalize-text;
	width: 100%;
	padding: $container-fluid;
	min-height: $header-height-control;
	background-color: white;
	.left,
	.center,
	.right {
		min-height: $header-height-control;
		@include flex-middle;
	}
	.left {

	}
	.center {
		text-align: center;
	}
	.right {

	}
	.logo {
		width: 420px;
  	height: 70px;
		@include bg-img-control;
		@include bg-img-control-center;
		background-size: 100%;
		margin: 0 auto;
		display: block;
	}
	nav {
		text-align: center;
		text-transform: uppercase;
		padding-top: 14px;
		a {
			padding: 0 14px;
		}
	}
}

.menu {
	@include list-unstyled;
	@include clearfix;
	text-align: center;
	text-transform: uppercase;
	> li {
		position: relative;
		display: inline-block;
		padding: $container-fluid $container-fluid 0 $container-fluid;
		&:hover,
		&.active {
			ul {
				display: block;
			}
		}
		a {
			&:hover,
			&.active {
			}
		}
	}
	ul {
		@include list-unstyled;
		width: 100%;
		background-color: white;
		z-index: 30;
	  text-align: left;
	  min-width: -moz-max-content;
		min-width: -webkit-max-content;
		min-width: max-content;
		display: none;
		@include position(absolute, 100% null null 0);
		li {
			a {
				display: block;				
	  		padding: ($container-fluid / 2) $container-fluid;
				&:hover,
				&.active {

				}
			}
		}
	}
}

























